// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_utilities.scss";

html,
body,
.app,
.canva {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background: var(--bs-secondary-bg);
}

button {
  margin: 0.5rem 0.8rem;
}

.pause-panel {
  border-top: 2px solid var(--bs-border-color);

}